@font-face {
		font-family: "EDfont";
		src: url('Capsuula.ttf');
	}
	
	.button {
		
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		outline: none;
		color: black;
		background-color: #c1d7d7;
		border: none;
		border-radius: 5px;
		box-shadow: 0 9px #999;
		margin-bottom: 10px;
		font-family: EDfont;
	}
	#submit:hover{
		background-color: #ccffcc
	}
	#delete:hover{
		background-color: #ff4d4d
	}
	#submit:active{
		background-color: #66ff66;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
	#delete:active{
		background-color: #ff3333;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
	body {
		background: transparent;
		-webkit-animation: bgcolor 5s; 
		animation: bgcolor 12s;
		animation-iteration-count: infinite;
		overflow: hidden;
		position: fixed;
		padding: 0;
		margin: 0;
	 }
	 @-webkit-keyframes bgcolor {
		0%   {background: #b3e6ff;}
		16%  {background: #b3ffcc;}
		32%  {background: #ffecb3;}
		48%  {background: #ffb3b3;}
		64%  {background: #ffb3ff;}
		80%  {background: #b3b3ff;}		
		100% {background: #b3e6ff;}
	}
 	@keyframes bgcolor {
		0%   {background: #b3e6ff;}
		16%  {background: #b3ffcc;}
		32%  {background: #ffecb3;}
		48%  {background: #ffb3b3;}
		64%  {background: #ffb3ff;}
		80%  {background: #b3b3ff;}		
		100% {background: #b3e6ff;}
	}
	.formcontainer{
	background-image: url("img/bg.png");
	background-position:center;
	position:absolute;
	top: calc(5vh);
	left: calc(35vw);
	background-color:white;
	padding: 50px 15px 30px;
	border-radius: 10px;
	}
	form{
		width: 500px;
		background-color: white;
		padding:20px 0px 20px;
		text-align:center;
		border-radius:10px;
		resize: vertical;
		
	 }
	label{
		margin:10px;
		font-family: EDfont;
		
	 }
	div{
		position:relative;
		margin: 100 px 50px 100px;
		background-color: white;
		float:left;
		width: 500px;
		text-align:center;
	}
	 
	 #formtext{
		 border-radius:10px;
	 }
	#Opcions{
	border-radius:10px 10px 0px 0px;
	}
	#End{
	border-radius:0px 0px 10px 10px;
	padding: 10px 0px 20px;
	}
	#Filtre{
	border-radius:10px 10px 0px 0px;
	padding: 10px 0px 20px;
	}
  